<div id="divMain" style="width:100%; height:75%;">
    <table id="tableEvents">
        <tr>
            <td class="td.center">
                <h1 style="text-align:center; width:100%;">This Week</h1>
            </td>
            
            <td class="td.center">
                <h1 style="text-align:center">This Month</h1>
            </td>

            <td class="td.center">
                <h1 style="text-align:center">Later</h1>
            </td>
        </tr>
       <tr>
        <td class="td.center" style="padding-right:20px">           
            <div style="overflow:hidden; padding-left:20px; width:330px; height:540px; margin-left:auto; margin-right:auto; display:block;">
                <div id="divToday" style="width:350px; height:540px; overflow:auto">
                    <table>
                        @{  List<MVCEventBench.Classes.NailVent> listNailVentToday = ViewBag.listNailVentToday;
                            foreach (MVCEventBench.Classes.NailVent nv in listNailVentToday)
                            {
                                @Html.Partial("NailVentPartialView", nv)
                            }
                        }
                    </table>
                </div>
            </div>
        </td>
        <td class="td.center" style="padding-right:20px">
            <div style="overflow:hidden; padding-left:20px; width:330px; height:540px; margin-left:auto; margin-right:auto; display:block;">
                 <div id="divWeek" style="width:350px; height:540px; overflow:auto">
                     <table>
                       @{  List<MVCEventBench.Classes.NailVent> listNailVentWeek = ViewBag.listNailVentWeek;
                           foreach (MVCEventBench.Classes.NailVent nv in listNailVentWeek)
                           {
                                @Html.Partial("NailVentPartialView", nv)
                           }
                        }
                     </table>
                 </div>
             </div>
        </td>
        <td class="td.center" style="padding-right:20px">                        
            <div style="overflow:hidden; padding-left:20px; width:330px; height:540px; margin-left:auto; margin-right:auto; display:block;">
                 <div id="divMonth" style="width:350px; height:540px; overflow:auto">
                     <table>
                       @{  List<MVCEventBench.Classes.NailVent> listNailVentMonth = ViewBag.listNailVentMonth;
                           foreach (MVCEventBench.Classes.NailVent nv in listNailVentMonth)
                           {
                               @Html.Partial("NailVentPartialView", nv)
                           }
                        }
                     </table>
                 </div>
            </div>
        </td>
        </tr>
    </table>
</div>

<script type="text/javascript">
//Bam this works
    $(document).ready(function () {
        $('.BackgroundImage img').each(function () // Loop over each img using the .each() method
        {
            $(this).qtip({
                content: {
                    text: 'Loading...',
                    position:
                    {
                        at: 'top right'
                    },
                    hide: {
                        fixed: true
                    },
                    ajax: {
                        type: "Post",
                        datatype: 'json',
                        data: "strEventGUID=" + $(this).attr('lang'),
                        once: false,
                        url: "/Event/DetailsAjax",
                        success: function (data) {
                            $('.BackgroundImage img').qtip('option', 'content.text', data.message);
                            $('.BackgroundImage img').qtip('option', 'position.at', 'top right');
                            $('.BackgroundImage img').qtip('option', 'hide.fixed', true);
                            $('.BackgroundImage img').qtip('option', 'position.viewport', $(window));
                        }
                    }
                }
            });
        });
    });
</script>

